body {
	background-color: gray;
}

#ui {
    display: grid;
    grid-template-areas: 
        'header header header'
        'tools canvas output';
}

#header {
    grid-area: header;
}

#tools {
    grid-area: tools;
}

#canvas {
    grid-area: canvas;
}

#output {
    grid-area: output;    
}

#masked {
}

#display {
}
