body {
	background-color: gray;
}

#screen {
    border: 1px dotted gray;
    background-color: white;
    /*position: absolute;*/
    /*z-index: 1;*/
}

#debug {
    /*border: 1px dotted gray;*/
    background-color: white;
    /*position: absolute;*/
    /*z-index: 2;*/
}


#container {
	height: 100%;
	width: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
}